/Software/CCBucket/Release
/Software/CCBucket/__vm
/Software/CandyCrane/Debug
/Software/CCComms/__vm
/Software/CCComms/Release
/Hardware/Electronics/CCBucket/CCBucket-backups
/Software/CandyComms/__vm
/Software/CandyComms/Release
